<div>
     <h3>Ingrese su correo para reestablecer su contraseña: </h3>
    <form action="/api/email/resetPasswordRequest" method="post">
        <label for="email">Ingrese su correo: </label>
        <input name="email" type="email">
        <button type="submit">Enviar link de restablecimiento</button>
    </form>
</div>