<div>
    <h3>Ingrese su nueva contraseña: </h3>
    <form action="/api/users/resetPassword/{{token}}" method="post">
        <label for="newPassword">Nueva contraseña: </label>
        <input name="newPassword" id="newPassword" type="password">
        <button type="submit">Confirmar</button>
    </form>
</div>