.footerCart{
    padding: 1rem;
    display: flex;
   justify-content: center;
}

.footerCart h3{
padding-left: 40rem;
margin: 1rem;
}


.botonCompra{
    text-decoration: none;
    color: black;
}
.cartVacio{
    flex-direction: column;
    align-items: center;
}