.button{
  margin: 2rem;
}
button {
  padding: 10px;
  background-color: #A38F85;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 4rem;
}

button:hover {
  background-color: #b19b91;
}

.profileContainer{
  width: 35rem;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}